<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
       default-lazy-init="true">

    <mvc:annotation-driven/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:component-scan base-package="com.*.controller"/>

    
    <bean id="viewResolverJsp"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/page/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
    </bean>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

     <!-- 拦截器 配置-->
      <!--  <mvc:interceptors> <mvc:interceptor>
	            <mvc:mapping path="/manager/**"/>
	           		<bean class="com.ssm.interceptor.UserLoginInterceptor"/>
	            </mvc:interceptor>

				<mvc:interceptor>
					<mvc:mapping path="/**" />
					<bean class="com.ssm.user.common.interceptor.UserLoginInterceptor" />
				</mvc:interceptor>
		
		       <mvc:interceptor>
		           <mvc:mapping path="/server/**"/>
		           <bean class="com.ssm.interceptor.RequestLocaleInterceptor"/>
		       </mvc:interceptor>
       </mvc:interceptors> -->

    
    
    <!-- 国际化 -->
<!-- 	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n/i18n" />
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
 -->	<!-- 本地化变更拦截器 -->
	<!-- <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	需要在界面上进行切换（session方式）
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		会话属性不存在,默认属性设置
		<property name="defaultLocale" value="zh_TW" />
	</bean>
	<mvc:interceptors>
		国际化资源切换时，根据请求参数中的locale参数自动切换
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<ref bean="localeChangeInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	<!--  配置页面同意返回异常-->
	<bean id="webExceptionHandler" class="com.ssm.common.exception.WebExceptionHandler">
	</bean>
    
</beans>